[Unit]
Description=Redis
After=registrator.service
Requires=registrator.service

[Service]
EnvironmentFile=/etc/environment
Restart=always
Environment=DOCKER_REPO=redis
Environment=VERSION=latest
Environment=CONTAINER=redis

ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/user/bin/docker rm ${CONTAINER}
ExecStartPre=/usr/bin/docker pull ${DOCKER_REPO}:${VERSION}
ExecStart=/usr/bin/docker run --name ${CONTAINER} -h ${CONTAINER} ${DOCKER_REPO}:${VERSION}
ExecStop=-/usr/bin/docker stop ${CONTAINER}
ExecStop=-/usr/bin/docker rm ${CONTAINER}

[X-Fleet]
Global=true

